@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.cf:before, .cf:after {
	clear:both;
  content: " "; /* 1 */
  display: block; /* 2 */
}
.cf:after {clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf { 
*zoom: 1;
}

body, div, p, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6,form,input,textarea,p,figure { 
	margin:0; 
	padding:0;
}

html, body { 
	height:100%;
	font-family:'Nanum Gothic;', 'Malgun Gothic', '돋움', Dotum, 'Lucida Sans', 'Trebuchet MS', Arial, Tahoma, sans-serif;
	font-size:1em; 
	line-height:1em; color:#555; 
  -webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
}

a, a:visited, a:hover, a:active, a:focus { 
	color:#121212; 
	text-decoration:none;
}

fieldset, img { 
	border:0 none;
	vertical-align:top;
}

select, input { 
	vertical-align:top; border-radius:0;  
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	}
	
legend{ 
	display:none;
}

ul, ol { 
	list-style:none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}

i, em, address{font-style:normal;}


a, a:visited, a:hover, a:active, a:focus { text-decoration:none; }
a[href^=tel]{
    color:inherit;
    text-decoration:none;
}
a, input { outline:none; }
:focus { outline: 0; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
