@charset "utf-8";
/* CSS Document */
.invisible {
	display: none;
}

.debugAreaBg {
	width:100%; 
	height: 292px;
	display: block;
	position:relative;
	top: 0px;
	left: 0px;
}
.debugArea {
	width:100%; 
	display: block;
	position:fixed;
	top: 0px;
	left: 0px;
	z-index: 98;
}